.tr-bg{
    background-color: rgba(212, 212, 212, 0.795) !important;
    color: rgba(20, 20, 20, 0.705) !important;
}
label{
    color:rgb(54, 54, 54);
}
input{
    border: .9px solid rgba(73, 73, 73, 0.842) !important;
}
select{
    border: .9px solid rgba(73, 73, 73, 0.842) !important;
}
.pases-precios-check{
width: 25px !important;
height: 25px !important;
padding-top: 5px !important;

}
.label-ocupacion{
    width: fit-content !important;
}
.padding-col{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
// .diarioEntrega1{
//     width: 15px !important;
//     height: 15px !important;
// }
.sizecheck{
    width: 15px !important;
    height: 15px !important;
    margin-top: 0.4rem;
}
.lbcheck{
    line-height: 30px !important;
    font-size: 1rem;
}

.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid gray;
}
.anchorElemet {
    pointer-events: none !important;
    cursor: default !important;
}
.overflow{
  width: 100%; 
  overflow-y: scroll;
  flex-wrap: nowrap;
  max-height: 30vh;
  border: 1px dotted black;
  margin-bottom: 1rem;
//   padding-top: 1rem;

} 
.flex-text{
    width: fit-content;
    font-size: 1vw;
    padding-left: 0 !important;
}
.titulo-horario-multiple{
    font-size: 1.5rem;
    font-weight: bold;

}
.pull-right{
    float: right;
    font-size: 1.1vw;
    font-weight: 400;
}
.pull-left{
    float:left;
}
#riesgo{
    padding: 0;
    margin: 0;
    display: block;
    width: 1.4rem;
    height: 1.4rem;

}
textarea{
    border: .9px solid rgba(73, 73, 73, 0.842) !important;
}
.btn-actividades{
    width: 100%;
    min-width: 1rem;
}
.dia-check-container{
    min-width: 2.5rem;
    width: fit-content;
  
}
.dinamic-input-time{
    display: block;
    /* width: 100%; */
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.days-dinamic-container{
    display: inline-block;
    width: 100%;

}
