
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
nav{
    border-radius: 0.25rem !important;
}
.main-navbar{
    background-color: $main-navbar !important;
    border-color: 1px solid $main-navbar !important
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .arrow-down{
        display: inline-block;
        background-image: url(/svg/arrow-down.png);
        background-size: contain;
        background-position: 50% 50%;
        width: 10px;
        height: 10px;
        margin: 0 .5rem;
        line-height: .2rem;
        text-align: center;

    }
}
@media only screen and (min-device-width : 360px) and (max-device-width : 667px) {

}
//iphone 6 7 y 8 
@media only screen and (min-device-width : 375px) and (max-device-width : 736px) {

}
//ipad pro 
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) {

}
    //iphone 6 7 y 8 plus
    @media only screen and (min-device-width : 414px) and (max-device-width : 736px) {

    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px){

    }
    @media only screen and (min-device-width : 900px) and (max-device-width : 1440px){

    }

    
.loading{
    position: absolute;
    width: 70px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin: 10px auto;

}

.dot{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: skyblue;
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.6);
    }
    100%{
        transform: scale(1);
    }

}

.d1{
    animation-delay: 0s;
}
.d2{
    animation-delay: .33s;
}
.d3{
    animation-delay: .66s;
}
@import '~vuetify/dist/vuetify.min.css';