.form-group{
    display: flex;
}
.row{
    margin-bottom: .5rem;
}
label{
    display: inline-block;
    // margin-bottom: .50; 
    text-align: center;
    align-self: center;
    margin-right: .5rem;
    width: fit-content;
    line-height: 2rem;
}
.form-control{
    width: min-content;
}
.input-clave{
    max-width: 100%;
    width: 70%;
}
.input-nombre{
    max-width: 100%;
    width: 100%;
}
.input-cortesias{
    max-width: 100%;
    width: 47%; 
}
.input-cupones{
    max-width: 100%;
    width: 27%;  
}
.input-anticipo{
    max-width: 100%;
    width: 60%;  
}
.checkbox{
width: 1.5rem;
}