@import 'variables';
.container-fluid{
    padding: 0 !important
}
.arrow-down{
    display: inline-block;
    background-image: url(/svg/arrow-down.png);
    background-size: contain;
    background-position: 50% 50%;
    width: 10px;
    height: 10px;
    margin: 0 .5rem;
    line-height: .2rem;
    text-align: center;

}
.card-header{
    padding-left: 5rem !important;
}
.grid-contanier{
    display: grid;
    grid-template-columns: auto 1fr;
}

.btn-edit{
    background-image: url(/svg/edit.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
}
.btn-delete{
    background-image: url(/svg/delete.png);
    background-size: 1.5rem 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
}
.btn-log-out{
    float: right;
    display: block;
    position: absolute;
    right: 0;
    z-index: 10000;
}
.hamburger-menu{
    display: block;
    margin: 0;
    padding: 0;
}
.hm-list__item{
    padding: 10px 10px 0 10px;
    color: white !important;
    line-height: 2rem;
}

.hb-icon{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 5px 10px 0 10px;
    line-height: 1rem;
    text-align: center;
    
}
.hm-list__user-name{
    display: block
}
.user{
    background-image: url(/svg/user.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;

}
.logout{
    background-image: url(/svg/logout.png);
    background-position: 50% 50%;
    background-size: 1rem 1rem;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 !important;
    
}
.hm-btn-logout{
    padding: 0 .5rem 0 0  !important;
    font-size: .8rem;
    text-align: right;
    display: block;

    background-color: $administracion;
}
.booking{
    background-image: url(/svg/booking.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.activity{
    background-image: url(/svg/activity.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.commission-agent{
    background-image: url(/svg/commission-agent.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.balance{
    background-image: url(/svg/balance.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
}
.collection{
    background-image: url(/svg/collection.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
}
.reports{
    background-image: url(/svg/reports.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
}
.coupons{
    background-image: url(/svg/coupons.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
}
.administrator{
    background-image: url(/svg/administrator.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
}
.btn-menu{
    display: block !important;
    position: absolute ;
    z-index: 10000;
   
}
.menu{
    background-image: url(/svg/menu.png);
    background-position: 50% 50%;
    background-size: 2rem 2rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    
}
.hm-list{
    list-style: none;
    display: block;
    padding: 0;

}
.hm-list__link{
    text-decoration: none !important;
}

.user-name{
    background-color: $administracion;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    cursor:default !important;
}
.reservaciones{
    background-color: $reservaciones;
}
.actividades{
    background-color: $actividades;
    position: relative;
}
.comisionistas{
    background-color: $comisionistas;
    position: relative;
}
.cortes{
    background-color: $cortes;
}
.cobranza{
    background-color: $cobranza;
}
.reportes{
    background-color: $reportes;
}
.cupones{
    background-color: $cupones;
}
.administracion{
    background-color: $administracion;
    position: relative;
}
.sub-ul{
    padding: 0;
}
.sub-ul__item{
    padding: .4rem 1rem 0 1rem;
    color: white !important;
    line-height: 2rem;
    
}
.sub-li__link{
    text-decoration: none !important;
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sub-li-actividadaes{
    background-color: $actividades;
}
.sub-li-comisionistas{
    background-color: $comisionistas;
}
.sub-li-cupones{
    background-color: $cupones;
}
.sub-li-administracion{
    background-color: $administracion;
}
.show{
    display: block;
}

///hover's

/* Underline From Left */
.hm-list__item::after{
    content: "";
    position: relative;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: whitesmoke;
    display: block;
    transform: scaleX(0);
    transform-origin: left;
}
.hm-list__item:hover::after{
    transform: scaleX(1);
    transition: all .8s ease-in-out;

}
.sub-ul__item::after{
    content: "";
    position: relative;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: whitesmoke;
    // display: block;
    transform: scaleX(0);
    transform-origin: left;
}
.sub-ul__item:hover:after{
    transform: scaleX(1);
    display: block;
    transition: all .8s ease-in-out;
      
}


