.tr-bg {
  background-color: rgba(212, 212, 212, 0.795) !important;
  color: rgba(20, 20, 20, 0.705) !important;
}

label {
  color: #363636;
}

input {
  border: 0.9px solid rgba(73, 73, 73, 0.842) !important;
}

select {
  border: 0.9px solid rgba(73, 73, 73, 0.842) !important;
}

.pases-precios-check {
  width: 30px !important;
  height: 30px !important;
  padding-top: 5px !important;
}

.label-ocupacion {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.padding-col {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.sizecheck {
  width: 12px !important;
  height: 12px !important;
}

.lbcheck {
  line-height: 30px !important;
  font-size: 1rem;
}

.h-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  border-top: 1px solid gray;
}

.anchorElemet {
  pointer-events: none !important;
  cursor: default !important;
}

.overflow {
  width: 100%;
  overflow-y: scroll;
  flex-wrap: nowrap;
  max-height: 30vh;
  border: 1px dotted black;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.flex-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1vw;
  padding-left: 0 !important;
}

.titulo-horario-multiple {
  font-size: 1.5rem;
  font-weight: bold;
}

.pull-right {
  float: right;
  font-size: 1.1vw;
  font-weight: 400;
}

.pull-left {
  float: left;
}

#riesgo {
  padding: 0;
  margin: 0;
  display: block;
  width: 1.4rem;
  height: 1.4rem;
}

textarea {
  border: 0.9px solid rgba(73, 73, 73, 0.842) !important;
}

.btn-actividades {
  width: 100%;
  min-width: 1rem;
}

