.main-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.colum-container {
  display: block;
  margin-bottom: 2rem;
}

.showModal {
  background-color: rgba(0, 0, 0, 0.438) !important;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100%;
  margin: auto auto;
  justify-content: center;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  padding: 0.2rem 1rem 1rem 1rem;
}

