body {
  background: white;
  background: radial-gradient(ellipse at center, white 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#ededed", GradientType=1 );
}

.main-navbar {
  border-radius: 4px;
}

ul li {
  border-radius: 4px;
}

.btn-logout {
  border-radius: 4px;
}

.navbar {
  padding-top: 3px !important;
}

.navbar a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto;
}

a {
  text-decoration: none !important;
}

