@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */

  .col-md-12 {
    padding: 0.2rem !important;
  }

  table td {
    padding: 0.15rem !important;
  }

  .table-head {
    text-align: center;
    font-size: 0.7rem;
  }

  .table-head__id {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: auto;
  }

  .table-head__name {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: auto;
  }

  .table-head__surname {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: auto;
  }

  .table-head__actions {
    display: flex;
    font-size: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .table-head__btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px !important;
    margin: 0 2.5px;
  }

  .btn-delete {
    background-image: url(/svg/delete.png);
    background-size: 1.1rem 1.1rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
  }

  .btn-delete:hover {
    cursor: pointer;
  }

  .btn-edit {
    background-image: url(/svg/edit.png);
    background-size: 1.1rem 1.1rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
  }

  .btn-delete:hover {
    cursor: pointer;
  }

  .showModal {
    background-color: rgba(0, 0, 0, 0.438) !important;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    margin: auto auto;
    justify-content: center;
    -webkit-animation-name: show;
            animation-name: show;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    padding: 0.2rem 1rem 1rem 1rem;
  }

  .close-modal-edit {
    display: flex;
    padding: 1rem 1.25rem;
    background-image: url(/svg/cancel.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 3000;
    top: 4rem;
    left: 80vw;
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .btn-delete {
    background-image: url(/svg/delete.png);
    background-size: 1.5rem 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
  }

  .btn-delete:hover {
    cursor: pointer;
  }

  .btn-edit {
    background-image: url(/svg/edit.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
  }

  .btn-delete:hover {
    cursor: pointer;
  }

  .close-modal-edit {
    display: flex;
    padding: 1rem 1.25rem;
    background-image: url(/svg/cancel.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 3000;
    top: 4rem;
    left: 80vw;
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and (min-device-width: 900px) and (max-device-width: 1440px) {
  .btn-delete {
    background-image: url(/svg/delete.png);
    background-size: 1.5rem 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
  }

  .btn-delete:hover {
    cursor: pointer;
  }

  .btn-edit {
    background-image: url(/svg/edit.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
  }

  .btn-delete:hover {
    cursor: pointer;
  }

  .close-modal-edit {
    display: flex;
    padding: 1rem 1.25rem;
    background-image: url(/svg/cancel.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 3000;
    top: 4rem;
    left: 83vw;
    width: 2rem;
    height: 2rem;
  }
}

