@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */

  table td {
    padding: 0.15rem !important;
  }

  .table-head {
    text-align: center;
  }

  .table-head__id {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 0.8rem;
  }

  .table-head__name {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 0.8rem;
  }

  .table-head__surname {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 0.8rem;
  }

  .table-head__actions {
    display: flex;
    font-size: 0.8rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .table-head__btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px !important;
    margin: 0 5px;
  }

  .btn-delete {
    background-image: url(/svg/delete.png);
    background-size: 1.5rem 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
  }

  .btn-delete:hover {
    cursor: pointer;
  }

  .btn-edit {
    background-image: url(/svg/edit.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
  }

  .btn-delete:hover {
    cursor: pointer;
  }

  .showModal {
    background-color: rgba(0, 0, 0, 0.438) !important;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    margin: auto auto;
    justify-content: center;
    -webkit-animation-name: show;
            animation-name: show;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    padding: 0.2rem 1rem 1rem 1rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .btn-delete {
    background-image: url(/svg/delete.png);
    background-size: 1.5rem 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
  }

  .btn-delete:hover {
    cursor: pointer;
  }

  .btn-edit {
    background-image: url(/svg/edit.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
  }

  .btn-delete:hover {
    cursor: pointer;
  }
}

@media only screen and (min-device-width: 900px) and (max-device-width: 1440px) {
  .btn-delete {
    background-image: url(/svg/delete.png);
    background-size: 1.5rem 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
  }

  .btn-delete:hover {
    cursor: pointer;
  }

  .btn-edit {
    background-image: url(/svg/edit.png);
    background-position: 50% 50%;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
  }

  .btn-delete:hover {
    cursor: pointer;
  }
}

